:host {
  display: block;
  margin: 16px;
}

kev-card {
  max-width: 600px;
  margin: 0 auto;
}

kev-card .flex-v > * {
  align-self: center;
  text-align: center;
  margin: 8px 0;
}

kev-card .flex-v > :last-child {
  margin-bottom: 0;
}

.avatar {
  width: 160px;
  height: 160px;
  background: var(--background-color);
  border-radius: 50%;
}

.emoji {
  font-size: 24px;
}

h2 {
  font: 500 20px/32px roboto, helvetica neue, sans-serif;
  letter-spacing: normal;
}
