:host {
  display: block;
  background: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: background 300ms ease-in-out;
}

.content {
  padding: 16px;
}
