@media only screen and (min-width: 768px) {
  .article {
    font-size: 24px;
  }
}

.article pre code {
  font-family: source-code-pro, monospace;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .article pre code {
    font-size: 20px;
  }
}

.article img {
  margin: 0 auto;
  border-radius: 4px;
}

.article table thead th {
  color: var(--color-text);
}

.article table {
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  border-style: hidden;
}

.article table::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 2px solid var(--color-primary);
  border-radius: 8px;
}

.article table th,
.article table td {
  padding: 4px 8px !important;
  border: 2px solid var(--color-primary);
}

.article table th {
  border-bottom-width: 4px;
}

.article table tr:last-child td {
  border-bottom: none;
}

.article table tbody tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.1);
}

.article pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.article pre::-webkit-scrollbar-track {
  background: transparent;
}

.article pre::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 8px;
}

.heading {
  margin-bottom: 0.2em !important;
}

.meta {
  font-size: 0.7em !important;
}
